
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Network Graph Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

    html {
      font-family: 'Inter', sans-serif;
      background-color: #222831;
      color: #EEEEEE;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 2rem;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }

    .header h1 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    button {
      padding: 0.5rem 1rem;
      border: 2px solid #222831;
      border-radius: 5px;
      /* background-color: #fff; */
      color: #EEEEEE;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
    }

    .header button:hover {
      background-color: #76ABAE;
      color: #31363F;
    }

    .main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }

    .card {
      padding: 1.5rem;
      border: 2px solid #222831;
      border-radius: 5px;
      /* background-color: #fff; */
    }

    .card-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .card-body {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .card-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
    }

    .card-footer button {
      padding: 0.5rem 1rem;
      border: 2px solid #222831;
      border-radius: 5px;
      /*background-color: #fff; */
      color: #9153F4;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
    }

    .card-footer button:hover {
      background-color: #f5f5f5;
    }

    .graph-container {
      width: 100%;
      height: 400px;
      background-color: #f5f5f5;
      border: 2px solid #31363F;
      border-radius: 5px;
    }

    .table-container {
      overflow-x: auto;
      max-height: 27vh; /* Adjust the max height as needed */
      overflow: scroll;
    }
    

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 2px solid #222831;
    }

    th {
      font-weight: 600;
    }
    button {
        color: #31363F;
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Delta2 Dashboard</h1>
      <form method="POST" action="/">
        <button value="aaa">To Graph View</button>
      </form>
    </div>
    <div class="main">
      <div class="card">
        <div class="card-title">Node Count</div>
        <div class="card-body">
          <p>Total Nodes: {{ number_of_nodes }}</p>
          <p>Pwned Users: {{ pwned }}</p>
        </div>
        <div class="card-footer">
        </div>
      </div>
      <div class="card">
        <div class="card-title">Edge Count</div>
        <div class="card-body">
          <p>Total Edges: {{ number_of_edges }}</p>
          <p>Pwned user Edges: {{ pwned_edges }}</p>
          
        </div>
        <div class="card-footer">
        </div>
      </div>
      <div class="card">
        <div class="card-title">Graph Visualization</div>
        <div class="card-body">
          <div class="graph-container">
            {% include 'graph.html' %}
            <style>
                /* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hide labels and inputs */
label,
input {
    visibility: hidden;
    display: none;
}

/* Style the parent container */
.container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Prevent overflow */
}

/* Style the graph element */
#graph {
    width: 100vh;
    height: 44.5vh;
    background-color: #626366; /* Optional: for visualization */
}

/* Ensure the canvas inside the graph fills its parent */
canvas {
    width: 100vh;
    height: 100%;
    top: 0;
    left: 0;
}
#sidebar {
    display: none;
    visibility: hidden;
}

            </style>
        </div>
        </div>
        <div class="card-footer">
          <!-- <button>Zoom In</button>
          <button>Zoom Out</button>
          <button>Reset Zoom</button> -->
        </div>
      </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Node Name</th>
                    <th>Node Type</th>
                    <th>Node DN</th>
                    <th>Node Description</th>
                    <th>Node pwned?</th>
                </tr>
            </thead>
            <tbody>
                {% for node in all_nodes %}
                <tr>
                    <td>{{ node.name }}</td>
                    <td>{{ node.t }}</td>
                    <td>{{node.distinguishedName}}</td>
                    <td>{{ node.description }}</td>
                    <td>{{ node.pwned }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
  </div>
</body>

</html>