<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Delta2 Graph</title>
    <!-- <script src="https://unpkg.com/@memgraph/orb/dist/browser/orb.min.js"></script> -->
    <script src="{{ url_for('static', filename='/node_modules/@memgraph/orb/dist/browser/orb.js') }}"></script>
    
    <!-- <script src="{{ url_for('static', filename='/node_modules/@memgraph/orb/dist/browser/') }}"></script> -->

    
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #31363F;
            color: #EEEEEE;
          }
      #graph {
        background-color: #f5f5f5;
        border: 2px solid hsl(0, 0%, 88%);
        width: 72%;
        height: 80vh;
      }

      input {
        border: 2px solid hsl(0, 0%, 88%);
        width: 99%;
        height: 15vh;
        background-color: #76ABAE;
        color: #EEEEEE;
      }
      #sidebar {
      width: 30%;
      height: 80vh;
      background-color: #31363F;
      border-left: 2px solid hsl(0, 0%, 88%);
      padding: 10px;
      z-index: 10;
      bottom: 0;
      right: 0;
      position: absolute;
      overflow-y: scroll;
      }
      #sidebar.div {
        justify-content: space-evenly;
        font-size: medium;
      }
    </style>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
    <form method="POST"
    action="{{ url_for('graph') }}">
    <label>Custom querries (do not put a return value, the backend already does it for you)</label>
  <input type="text"
         name="query"
         placeholder="EX: (a)-[b]-(c) WHERE a.name = 'admin'">
         
    <div id="graph"></div>
    <div id="sidebar"></div>
    <script>
  
    
        const nodes =  {{ nodes|tojson }};
        
        const edges = {{edges|tojson }};

        
        const container = document.getElementById("graph");
        const sidebar = document.getElementById("sidebar");
        
        const orb = new Orb.Orb(container);
        
        // Render and recenter the view
        //orb.view.render(() => {
        //  orb.view.recenter();
        //});
        

        orb.data.setup({ nodes: {{ nodes|safe }}, edges: {{ edges|safe }} });
        orb.events.on("rendered", () => {
            orb.view.recenter();
          });
          orb.setView(
            (context) =>
              new Orb.DefaultView(context, {
                getPosition: (node) => ({ x: node.data.posX, y: node.data.posY }),
              })
          );
          orb.view.render();
        orb.events.on("node-click", (event) => {
          const node_name = event.node.data.name;
          
          const postData = {node_to_get: node_name}
          const data = fetch('http://localhost:5000/get_node', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': 'http://localhost:5000',
            },
            body: JSON.stringify(postData)})
            .then(response => {
                return response.json()
            })
            .then(api_data => {
                // Clear previous data in sidebar
                sidebar.innerHTML = "";
        
                // Display JSON data in sidebar
                for (const key in api_data) {
                  const row = document.createElement('div');
                  row.textContent = `${key}: ${api_data[key]}`;
                  sidebar.appendChild(row);
                }
              })
        
          
          


        });

          
        orb.events.on("edge-click", (event) => {
            console.log(`Edge clicked`, event.edge);
            //const edge_name = event.edge.data.name;
            //const start_node = event.edge.data.startNode.name;
            //const end_node = event.edge.data.endNode.name;
            //console.log(start_node)
            //console.log(end_node)
            const startNode = event.edge.startNode.data.name
            const endNode = event.edge.endNode.data.name
            const edgeType = event.edge.data.label
            const postData = {start_node: startNode,
                              end_node: endNode,
                              edge_type: edgeType}
                              const data = fetch('http://localhost:5000/get_edge', {
                                method: 'POST',
                                headers: {
                                  'Content-Type': 'application/json',
                                  'Access-Control-Allow-Origin': 'http://localhost:5000',
                                },
                                body: JSON.stringify(postData)})
                                .then(response => {
                                    return response.json()
                                })
                                .then(api_data => {
                                    // Clear previous data in sidebar
                                    sidebar.innerHTML = "";
                            
                                    // Display JSON data in sidebar
                                    for (const key in api_data) {
                                      const row = document.createElement('div');
                                      row.textContent = `${key}: ${api_data[key]}`;
                                      sidebar.appendChild(row);
                                    }
                                  })
        });
        

    </script>
    
  </body>
</html>