<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Orb | Simple graph</title>
    <!-- <script src="https://unpkg.com/@memgraph/orb/dist/browser/orb.min.js"></script> -->
    <script src="{{ url_for('static', filename='/node_modules/@memgraph/orb/dist/browser/orb.min.js') }}"></script>
    
    <!-- <script src="{{ url_for('static', filename='/node_modules/@memgraph/orb/dist/browser/') }}"></script> -->

    
    <style>
      #graph {
        border: 2px solid hsl(0, 0%, 88%);
        width: 99%;
        height: 80vh;
      }

      input {
        border: 2px solid hsl(0, 0%, 88%);
        width: 99%;
        height: 15vh;
        background-color: darkslategray;
        color: white;
      }
    </style>
  </head>
  <body>
    <form method="POST"
    action="{{ url_for('index') }}">
    <label>Custom querries (do not put a return value, the backend already does it for you)</label>
  <input type="text"
         name="query"
         placeholder="EX: (a)-[b]-(c) WHERE a.name = 'admin'">
         
    <div id="graph"></div>
    <script>
  
    
        const nodes =  {{ nodes|tojson }};
        
        const edges = {{edges|tojson }};

        
        const container = document.getElementById("graph");
        
        const orb = new Orb.Orb(container);
        // Initialize nodes and edges
        orb.data.setup({ nodes: {{ nodes|safe }}, edges: {{ edges|safe }} });

        // Render and recenter the view
        //orb.view.render(() => {
        //  orb.view.recenter();
        //});



        orb.view.render();
        orb.events.on("node-click", (event) => {
          const node_name = event.node.data.name;
          const postData = {node_to_get: node_name}
          const data = fetch('http://localhost:5000/get_node', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': 'http://localhost:5000',
            },
            body: JSON.stringify(postData)})
          data.then(response => {
            const api_data = response.json();
            // console.log(api_data)


            
            return api_data
          })
        
          
          console.log(api_data)
          


        });

          
        orb.events.on("edge-click", (event) => {
            console.log(`Edge clicked`, event.edge.data.name);
        });
        

    </script>
  </body>
</html>